<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="GlaaMapper">

	<resultMap id="glaaSelectListResult" type="org.hope.web.domain.GlaaVO">
		<id property="gllyNo" column="GL_NO"></id>
		<result property="gllyNo" column="GL_NO"></result>
		<result property="gllyNm" column="GL_NM"></result>
		<result property="gllyCts" column="GL_CTS"></result>
		<result property="regiDate" column="REGI_DATE"></result>
		<result property="showMainYn" column="SHOWMAIN_YN"></result>
		<!--  <collection property="glaaFileVO" column="GL_NO" resultMap="glaaFileListResult" ></collection> -->
		<!-- <collection property="glaaFileVO" column="GL_NO" resultMap="glaaFileListResult" ></collection> -->
		<collection property="glaaFileVO" column="GL_NO" javaType="java.util.ArrayList" ofType="org.hope.web.domain.GlaaFileVO" select="GlaaMapper.Glaa1000_selectFileList"/>
	</resultMap>

	<resultMap id="glaaFileListResult" type="org.hope.web.domain.GlaaFileVO">
		<result property="gllyNo" column="GL_NO"></result>
		<result property="fileNo" column="FILE_NO"></result>
		<result property="filePath" column="FILE_PATH"></result>
	</resultMap>
	<select id="GlaaMapper.Glaa1000_select" resultMap="glaaSelectListResult">
		SELECT GL_NO
			  ,GL_NM
              ,GL_CTS
              ,SHOWMAIN_YN
              ,DATE_FORMAT(REGI_DATE, '%Y-%m-%d') as REGI_DATE
              ,DATE_FORMAT(MODY_DATE, '%Y-%m-%d') as MODY_DATE
		FROM GLTB
		WHERE 1=1
		<if test="bordNm!=null and !bordNm.equals('')">
		AND GL_NM LIKE CONCAT('%',#{gllyNm},'%')
	    </if>
	    <!-- AND GL_NO=#{gllyNo} -->
	</select>
	
	<select id="GlaaMapper.Glaa1000_selectFileList" resultMap="glaaFileListResult" >
		SELECT 
			   GL_NO,
			   FILE_NO,
			   FILE_PATH
		FROM FILETB
		WHERE GL_NO=#{gllyNo}
	</select>
	
    <insert id="Glaa1000_insert" parameterType="org.hope.web.domain.GlaaVO">
  
		INSERT INTO GLTB(GL_NM, GL_CTS, REGI_DATE, MODY_DATE, SHOWMAIN_YN)
		VALUES(#{gllyNm},#{gllyCts}, SYSDATE(), SYSDATE(), #{showMainYn})
	
		<selectKey resultType="Integer" keyProperty="gllyNo" order="AFTER">
    		SELECT LAST_INSERT_ID() as gllyNo
    	</selectKey>
    </insert>
    
    <insert id="Glaa1000_insertFile" parameterType="org.hope.web.domain.GlaaFileVO">
    	INSERT INTO FILETB(GL_NO, FILE_NO,FILE_NM_KEY, FILE_PATH, FILE_SIZE, REGI_DATE)
    	VALUES(#{gllyNo},#{fileNo},#{fileNameKey},#{filePath},#{fileSize},SYSDATE())
    </insert>

<!-- 	<select id="GlaaMapper.Glaa1000_select" resultType="org.hope.web.domain.GlaaVO" parameterType="java.lang.String">
		SELECT GL_NO AS gllyNo
			  ,GL_NM AS gllyNm
              ,GL_CTS AS gllyCts
              ,SHOWMAIN_YN as showMainYn
              ,DATE_FORMAT(REGI_DATE, '%Y-%m-%d') AS regiDate
              ,DATE_FORMAT(MODY_DATE, '%Y-%m-%d') AS modyDate
        	
		FROM GLTB
		WHERE 1=1
		<if test="bordNm!=null and !bordNm.equals('')">
		AND GL_NM LIKE CONCAT('%',#{gllyNm},'%')
	    </if>
	</select> -->
	
	<select id="GlaaMapper.Glaa1000_selectDetail" resultType="org.hope.web.domain.GlaaVO" parameterType="java.lang.String">
		SELECT GL_NO AS gllyNo
			  ,GL_NM AS gllyNm
              ,GL_CTS AS gllyCts
              ,FILE_PATH as filePath
              ,SHOWMAIN_YN as showMainYn
              ,DATE_FORMAT(REGI_DATE, '%Y-%m-%d') AS regiDate
              ,DATE_FORMAT(MODY_DATE, '%Y-%m-%d') AS modyDate
		 FROM GLTB
	    WHERE GL_NO = #{gllyNo}
	</select>
	


	 
</mapper>